<div id="about-wrapper">
  <div class="row">
    
    <div class="col s12 m5" id="personal_pic">
      <img src="https://c8.staticflickr.com/6/5560/29572314063_582a711873_b.jpg" height="600" width="500" class="responsive-img" styles="border-radius:25px;">
    </div>

    <div class="col s12 m7">
        <p>
            &nbsp; &nbsp; A second year computer science undergraduate at UC Irvine, I love the exhilaration that comes from working on group projects and learning new things about CS. 
            The satisfaction of finishing a project and acquiring knowledge like understanding new algorithms are rewarding and improve my confidence!
        </p>

        <p>
            &nbsp; &nbsp; I pride myself on taking challenges such as making this website using Angular 2 and having strong leadership and clear communication.
            In my past internship at Synopsys, I took initiative to suggest sending weekly reviews to my manager and completed all deadlines.
        </p>
    </div>

  </div>
</div>

