p{
    color:white;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

#about-wrapper{ 
    width: 90%;
    margin: auto;
    margin-top: 7rem;
    text-align: left;
}

#personal_pic{
    margin-top: 4.5rem;
}