<div id="container">
  <p>
    Greeting! I'm Kevin, a second year computer science undergrad at UC Irvine. 
    I love the adrenaline of working with friends on projects and the ability to take self 
    initaitive to learn more about CS. The satisfaction of completing a project and learning 
    new tools and skills such as Javascript Framework and algorithm/data structure are simple 
    exhilarating. 
  </p>
  <p>
    I specialize in web development and recently start dabbling with mobile application thorugh Ionic 
    and AngularJS. I am also working really hard to become a Linux Guru. 
  </p>
  <p>
    I always pride myself that I have the willingness to learn despite the difficulty like making this website 
    with the Angular 2 Framework (the struggles in incorporating jQuery and headache of figuring out how to put a SPAS application in the 
    cloud). In addition, I have clear communication and complete tasks on deadline. In my previous internship
    at Synopsys, I took initiative to suggestion about sending weekly reviews to my manager and finished 
    all deadline on time. 
  </p>
</div>

