<div id="experience-wrapper">
  <div class="row">
    <div class="col s12 m6">
      <!--Synopsys -->
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="https://c4.staticflickr.com/9/8412/29570777003_0e0fdfe523_b.jpg" height="285px">
          </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Synopsys Technical Intern<i class="fa fa-arrow-up right"></i></span>
          <p><a href="http://www.synopsys.com/home.aspx">Synopsys Official Website</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Roles<i class="fa fa-times right" aria-hidden="true"></i></span>
          <p>
            Project: ​Customer Self Service Technology Update 3.0 <br>
            ● Participated in programming the Customer Self Service Web Application using the ASP.NET MVC framework with SAP CRM Middleware and Telerik UI framework. <br>
            ● Designed and implemented customers’ desired features such as bidirectional drop down lists and a popup modal (a pop up modal) that displays certain information about a selection when the customer hovers over the particular selection from the drop down list also within the modal. <br>
            ● Implemented a modern front end design that emphasizes layout organization, space preservation and simplicity such as the use of the tile animation from Metro UI CSS frontend framework of a tile flipping upward to display more information. <br>
            ● Organized the structure and the files of the Customer Self Service Web Application such as incorporating SASS in order to use variables for defining specific styling. <br>
            ● Communicated with teammates and manager in order to understand customer’s needs, to set deadline, to give status report, and to take suggestion for improving front end design. <br>
          </p>
        </div>
      </div>
    </div>

    <div class="col s12 m6">
      <!--IEEE UCI -->
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="https://c3.staticflickr.com/9/8137/30085771362_042278402a_b.jpg" height="285px">
          </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">IEEE UCI Internal VP<i class="fa fa-arrow-up right"></i></span>
          <p><a href="http://ieeeuci.tk/">IEEE UCI Official Website</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Roles<i class="fa fa-times right" aria-hidden="true"></i></span>
          <p>
            ● Handling internal affairs within IEEE UCI. <br> 
            ● Organizing schedule and contributing the vision and goals for IEEE UCI with the Chair and the External Vice Chair. <br>
          </p>
        </div>
      </div>
    </div>

    <div class="col s12 m6">
      <!--UCI Lab Tutor --> 
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="https://c4.staticflickr.com/6/5114/30200790235_1a13f7ae07_b.jpg">
          </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">UCI ICS Lab Tutor<i class="fa fa-arrow-up right"></i></span>
          <p><a href="http://tutors.ics.uci.edu/index.php/becoming-a-tutor">UCI ICS Lab Tutor Website</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Roles<i class="fa fa-times right" aria-hidden="true"></i></span>
          <p>
            Classes: Introduction to Programming, Programming with Software Libraries <br>
            ● Helping and guiding students in the listed computer science courses on their weekly lab assignments. <br>
            ● Collaborating with ICS Professors and other UCI Lab Tutors in weekly discussion over effective tutoring strategies. <br>
          </p>
        </div>
      </div>
    </div>
 

  </div>
</div>