<a id="nav-toggle"><span></span></a>

<div id="routingLink">
  <div id="routingPlacement">
    <a routerLink="">Home</a><br>
    <a routerLink="about">About</a><br>
    <a routerLink="experience">Experience</a><br>
    <a routerLink="project">Projects</a><br>
  </div>

  <div id="social">
      <div class="container">
        <div class="row" id="social-icons">
          <div class="col s4">
            <a href="https://www.linkedin.com/in/kevinchow88"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          </div>
          <div class="col s4">
            <a href="https://github.com/kevinchow7"><i class="fa fa-github" aria-hidden="true"></i></a>
          </div>
          <div class="col s4">
            <a class="wave-effect modal-trigger" href="#modal1"><i class="fa fa-envelope" aria-hidden="true"></i></a>
          </div>
      </div>
    </div>
  </div>
</div>

<div id="modal1" class="modal">
  <iframe src="https://docs.google.com/forms/d/1tdAxkx5Xw2alLkx8Ad820myUwHyUKAjiVaJd3UcnyB4/viewform?embedded=true" width="1000" height="600"></iframe>
</div> 

<div id="content">
  <router-outlet></router-outlet>
</div>


