#project-wrapper{
    width: 90%;
    margin: auto;
    margin-top: 2.5rem;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.card{
    margin-bottom: 3rem;
}

a{
    color: black !important;
}

a:hover{
    font-weight: bold;
}