<div id="project-wrapper">
    <div class="card">
        <div class="card-content">
            <span class="card-title">Text Message Reminder</span>
            <p>
                ● Collaborated with teammates at SD Hacks 2016 to produce a web application that allows users to send text messages to a specified phone number 
                and a duration of their choosing. <br>
                ● We used Angular 2 with TypeScripting for SPAs (Single Page Application) server-side rendering, Twilio Node.js SMS API for sending the text messages, 
                Express.JS to handle when the Twilio Node.js SMS API run by monitoring HTTP Post request from client side Javascript, jQuery UI and Materialize 
                CSS Framework <br>
            </p>
        </div>
        <div class="card-action">
            <a href="https://github.com/kevinchow7/sdhacks2016">Github Repo</a>
        </div>
    </div>

    <div class="card">
        <div class="card-content">
            <span class="card-title">IEEE UCI Website</span>
            <p>
                ● Collaborated with teammates to produce a webite for a computer science and engineering club. <br>
                ● We used Angular 2 with TypeScripting for SPAs (Single Page Application) server-side rendering, jQuery UI and Materialize CSS Framework. <br>
            </p>
        </div>
        <div class="card-action">
            <a href="https://github.com/AdityaKop/ieee-website-angular2">Github Repo</a>
            <a href="http://ieeeuci.tk/">Official Website</a>
        </div>
    </div>

    <div class="card">
        <div class="card-content">
            <span class="card-title">Zotcade</span>
            <p>
                ● Collaborated with a teammate to produce a website for an university gaming festival. <br>
                ● We use Wordpress 4.5.2, CSS3, Wordpress PMC Themes and Revolution Slider plugins. <br>
            </p>
        </div>
        <div class="card-action">
            <a href="http://www.zotcade.com/">Official Website</a>
        </div>
    </div>

       <div class="card">
        <div class="card-content">
            <span class="card-title">Alarm Clock Hybrid Mobile Application</span>
            <p>
                ● Collaborated with a teammate to produce an alarm clock hybrid mobile application that automatically turns off when you flip over the smartphone. It is in 
                beta stage now. <br>
                ● We used Javascript, Proximity Sensor API from Apache Cordova Plugin and HTML5/CSS3 to create the web application. We are attempting to use Visual Studio Community with Apache
                Cordova in order to convert it into a hybrid mobile application for Android and IOS.<br>
            </p>
        </div>
        <div class="card-action">
            <a href="https://github.com/kevinchow7/AlarmClockApplication">Github Repo</a>
        </div>
    </div>
</div>